<a href="https://colab.research.google.com/github/SanjanaTV/python-basics/blob/main/oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class parrot:
  species="bird"
  def __init__(self,name,age):
    self.name=name
    self.age=age

blu=parrot("blu",10)
woo=parrot("woo",15)

print("blu is a {}".format(blu.__class__.species))
print("woo is a {}".format(woo.__class__.species))

print("{} is {} years old".format(blu.name,blu.age))
print("{} is {} years old".format(woo.name,woo.age))

blu is a bird
woo is a bird
blu is 10 years old
woo is 15 years old

In [ ]:
class student:
  def __init__(self,name,rollno,age):
    self.name=name
    self.rollno=rollno
    self.age=age

s1=student("anu",14,23)
s2=student("manu",10,21)

print("Anu's rollno is {}".format(s1.rollno))
print("Manu's rollno is {}".format(s2.rollno))

print("{} is {} years old".format(s1.name,s1.rollno))
print("{} is {} years old".format(s2.name,s2.rollno))

Anu's rollno is 14
Manu's rollno is 10
anu is 14 years old
manu is 10 years old

In [ ]:
#using input
class employee:
  def __init__(self,name,id,salary):
    self.name=name
    self.id=id
    self.salary=salary

name=str(input("enter emp name: "))
id=int(input("enter the id: "))
salary=int(input("enter the salary: "))

e1=employee(name,id,salary)

print("employee details:{} {} {}".format(e1.name,e1.id,e1.salary))

enter emp name: sanjana
enter the id: 2132
enter the salary: 103939
employee details:sanjana 2132 103939

In [ ]:
#using while loop
while(1):
  class employee:
    def __init__(self,name,id,salary):
      self.name=name
      self.id=id
      self.salary=salary

  name=str(input("enter emp name: "))
  id=int(input("enter the id: "))
  salary=int(input("enter the salary: "))

  e1=employee(name,id,salary)

  print("employee details:{} {} {}".format(e1.name,e1.id,e1.salary))

In [ ]:
class parrot:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def sing(self,song):
    return "{} sings {}".format(self.name,song)
  def dance(self):
    return "{} dance is now dancing".format(self.name)
  def ages(self):
    return "age is {}".format(self.age)

blu=parrot("Blu",10)
print(blu.sing("happy"))
print(blu.dance())
print(blu.ages())

red=parrot("Red",15)
print(red.sing("happy"))
print(red.dance())
print(red.ages())

Blu sings happy
Blu dance is now dancing
age is 10
Red sings happy
Red dance is now dancing
age is 15

In [ ]:
#polymorphism
class parrot:

  def fly(self):
    print("parrot can fly")
  def swim(self):
    print("parrot can't swim")

class penguin:

  def fly(self):
    print("penguin can't fly")
  def swim(self):
    print("penguin can swim")

def flying_test(bird):
  bird.fly()
def swim_test(bird):
  bird.swim()

blu=parrot()
peggy=penguin()

flying_test(blu)
flying_test(peggy)

swim_test(blu)
swim_test(peggy)

parrot can fly
penguin can't fly
parrot can't swim
penguin can swim

In [ ]:
#inheritance
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def display(self):
    print(self.name,self.age)

p=person("anu",20)
p.display()

class employee(person):
  def details(self):
    print("employee details")

e=employee("manu",30)
e.details()

anu 20
employee details