<a href="https://colab.research.google.com/github/SanjanaTV/python-basics/blob/main/python_function_challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#function that accepts two strings
def st(s1,s2):
  if(len(s1)>len(s2)):
    print(s1)
  elif(len(s1)<len(s2)):
    print(s2)
  else:
    print(s1)
    print(s2)
st("abc","gshp")

gshp

In [ ]:
#function to print even or odd
def check(x):
  if(x%2==0):
    print("it is an even number")
  else:
    print("it is an odd number")
check(4)

it is an even number

In [ ]:
#function having dictionary with values square of the key
def dict(n):
  d={}
  for i in range(1,n+1):
    d[i]=i**2
  return d
dict(3)

{1: 1, 2: 4, 3: 9}

In [ ]:
def dict(n):
  d={}
  for i in range(1,n+1):
    d[i]=i**2
  return d
dict(20)

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [ ]:
#function having the dictionary with value square of the key(the function should only print the values)
def dict(n):
  d={}
  for i in range(1,n+1):
    d[i]=i**2
    print(d[i])
dict(20)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [ ]:
#the function should only print the keys only)
def dict(n):
  d={}
  for i in range(1,n+1):
    d[i]=i**2
    print(i)
dict(20)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#generate list with values as square of 1 to 20
def list1(n):
  li=list()
  for i in range(1,n+1):
    li.append(i**2)
  print(li)
list1(20)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#and print the first 5 elements
def list1(n):
  li=list()
  for i in range(1,n+1):
    li.append(i**2)
  print(li[1:6])
list1(20)

[4, 9, 16, 25, 36]

In [ ]:
#and print the last 5 elements
def list1(n):
  li=list()
  for i in range(1,n+1):
    li.append(i**2)
  print(li[-5:])
list1(20)

[256, 289, 324, 361, 400]

In [ ]:
#except first 5 elements
def list1(n):
  li=list()
  for i in range(1,n+1):
    li.append(i**2)
  print(li[5:])
list1(20)

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#first half in one line and the second half in other
t=(1,2,3,4,5,6,7,8,9,10)
print(t[:5])
print(t[-5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [ ]:
#print another tuple with even numbers from the given tuple
tp=(1,2,3,4,5,6,7,8,9,10)
l3=list(tp)
l2=[]
for i in range(len(l3)):
  if(i%2==0):
    l2.append(i)
  l3=tuple(l2)
print(l3)

(0, 2, 4, 6, 8)

In [ ]:
#to accept a string if it is yes/Yes/YES
s=str(input("are you fine? "))
if(s=='yes' or s=='Yes' or s=='YES'):
  print("Yes")
else:
  print("No")

are you fine? yes
Yes

In [ ]:
#even using filter function
l5=[1,2,3,4,5,6,7,8,9,10]
x=list(filter(lambda x:(x%2==0),l5))
print(x)

[2, 4, 6, 8, 10]

In [ ]:
#square of a list using map function
l6=[1,2,3,4,5,6,7,8,9,10]
x=list(map(lambda x:(x**2),l6))
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#even using filter and square of even using map
l6=[1,2,3,4,5,6,7,8,9,10]
x=list(filter(lambda x:(x%2==0),l6))
print("even: ",x)
y=list(map(lambda y:(y**2),x))
print("square of even: ",y)

even:  [2, 4, 6, 8, 10]
square of even:  [4, 16, 36, 64, 100]

In [ ]:
#even using filter
l7=[]
for i in range(1,21):
  l7.append(i)
x=list(filter(lambda x:(x%2==0),l7))
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#square using map
l8=[]
for i in range(1,21):
  l8.append(i)
y=list(map(lambda y:(y**2),l8))
print(y)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#while
import random
l9=[]
for i in range(1,10):
  l9.append(i)
while(1):
  system=random.choice(l9)
  user=int(input("enter your guess: "))
  if(system==user):
    print("your guess is correct!")
  else:
    print("your guess is wrong")

your guess is wrong
your guess is wrong
your guess is wrong
your guess is wrong
your guess is wrong
your guess is wrong
your guess is wrong
your guess is wrong
your guess is wrong
your guess is wrong

In [ ]:
while(1):
  system=random.choice(l9)
  user=int(input("enter your guess: "))
  if(system==user):
    print("your guess is correct!")
  else:
    print("your guess is wrong")